p{
    color: #729e87;
}

.container{
    height: 100px;
    background-color: black;
    background-image: url(../download.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.box{
    width: 300px;
    height: 300px;
    background-color: red;
    /* padding: 30px;
     */
     padding-left: 20px;
     padding-right: 30px;
     padding-top: 10px;
        padding-bottom: 40px;
    border: 4px dashed rgb(11, 2, 130);
    border-radius: 100px;
    /* margin: 50px; */
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
}


